
/* IMPORTS */ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,500&display=swap');

/*VARIABLES*/

:root {
    /* pallete */
 --primary: #44FFD1;
 --secondary: #D3B88C;
 --light: #F4F2F3;
 --accent: #000000;
 
 /*font-sizes*/
--text-xxl: 4.8em;
--text-xl: 3.6em;
--text-lg: 3.2em;
--text-md: 2.2em;
--text-sm: 1.6em;
--text-xs: 1.2em;

/*spacings*/
--sp--xxl: 12rem
--sp--xl: 8rem
--sp--lg: 5rem
--sp--md: 3.2rem
--sp--sm: 1.6rem
--sp--xs: 0.8rem

}


/* NORMALIZE */

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62,5% ;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../img/índice.2.jpg');

    background-attachment: fixed;
    padding: 9em 2em 0;
    overflow-x: hidden;
} 



.section__carrusel {
    display: contents;
    justify-content: center;
}


p{
    background-color: aqua;
    border-style: groove;
    position: relative;
    left:0%;
}



textarea {
    background-color: aqua;
}


.NombresProductos {
    color: rgb(44, 214, 157);
    width: 100vh;
    border: solid;
    background-color: black;
}

.header {
    background-color: darkcyan;
    position: fixed;
    height: 8em;
    width: 100%;
    top: 0%;
    left: 0%;
}



.nav__li {
   
    display:flex;
    justify-content: space-between;
   border-style: solid;
   border-color: aqua;
   background-color: darkcyan;
    list-style-type: none;

}

#li {
    font-size: 1,8em;
    margin-right: 1em;
    justify-content: space-between
    
}

.stilo-a {
    display: flex;
    justify-content: center;
    margin-right: 4em;
    color: black;
}

.nav__menu {display: flex;
margin: 4em;
list-style-type: none;}

#logo {
    padding-left: 4em;
    line-height: 8em; 
}

#titulos {
    display: flex;
    justify-content: center;
    color: #000000;
}

#subtitulos {font-size: 2em;}


.footer {
    position: relative;
    bottom: 0%;
    left: 500px;
}

img { width: 50%;}

@media (min-width:500px){

    body {background-color: #44FFD1;}
}
  